{% extends 'base.html' %}

{% load static humanize %}

{% block title %}購入明細一覧{% endblock %}
{% block navigation %}{% include 'navigation_nocart.html' %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product_custom.css' %}">
{% endblock %}

{% block content %}
<body>
  <div class="container">
  <div class="d-flex justify-content-end mt-4 mb-3">
    <!-- <a href="{% url 'management:manage_products_create' %}" class="btn btn-outline-primary me-2">
    商品登録へ
    </a> -->
    <!-- <button type="button" class="btn btn-secondary me-2">ログアウト</button> -->
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="white-space: nowrap;">ID</th>
        <th style="white-space: nowrap;">購入者</th>
        <th style="white-space: nowrap;">金額</th>
        <th style="white-space: nowrap;">注文日時</th>
      </tr>
    </thead>
    <tbody>
      {% for order in order_list %}
      <tr>
        <th style="white-space: nowrap;"><a href="{% url 'order:order_detail' order.id %}">{{ order.id }}</a></th>
        <td style="white-space: nowrap;">{{ order.last_name }} {{ order.first_name }}</td>
        <td style="white-space: nowrap; text-align: right;">{{ order.total_price|intcomma }}円</td>
        <td >{{ order.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}